name: Pull Request Check

on:
  pull_request:
    branches: [ dev, main, dev-joao ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/checkout@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Check Typescript
        run: npx tsc --noEmit

      - name: Lint
        run: npm run lint

      - name: Build Check
        run: npm run build
        env:
          NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}
          NEXT_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}
          SUPABASE_SERVICE_ROLE_KEY: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}
          # Ignorando verificações de lint/types durante o build final para não duplicar erros
          NEXTJS_IGNORE_TYPECHECK: 1
          NEXTJS_IGNORE_ESLINT: 1
